---
- name: Check Mapped Collection
  ansible.builtin.set_fact:
    mapped_collection_details: "{{ globus_collection_list | community.general.json_query(q) }}"
  vars:
    q: "[?display_name == `{{ globus_endpoint_name }} {{ storage_gateway_config.name }} {{ mapped_collection_config.name }}`] | [0]"

- name: Create Collection directory path
  ansible.builtin.file:
    path: "{{ mapped_collection_config.base_path }}"
    owner: "{{ globus_map_user | d('globus') }}"
    group: globus
    mode: '0750'
    state: directory

- name: Create Mapped Collection
  when: not mapped_collection_details
  block:
    - name: Run Mapped Collection create command
      ansible.builtin.command:
        argv:
          - "{{ globus_gcs_binary }}"
          - collection
          - create
          - "--{{ mapped_collection_config.public_private }}"
          - "{{ storage_gateway_details.id }}"
          - "{{ mapped_collection_config.base_path }}"
          - "{{ globus_endpoint_name }} {{ storage_gateway_config.name }} {{ mapped_collection_config.name }}"
      changed_when: true
      register: _globus_cmd_output

    - name: Set collection_id fact
      ansible.builtin.set_fact:
        collection_id: "{{ _globus_cmd_output.stdout | split(':') | last | trim }}"

    - name: Get new mapped collection metadata
      ansible.builtin.command: "{{ globus_gcs_binary }} collection show {{ collection_id }} --format json"
      changed_when: false
      register: _globus_cmd_output

    - name: Update mapped_collection_details fact
      ansible.builtin.set_fact:
        mapped_collection_details: "{{ _globus_cmd_output.stdout | from_json }}"

- name: Permit guest collections (Subscription only)
  when: globus_endpoint_status.subscription_id != None
  block:
    - name: Permit guest collections (Subscription only)
      ansible.builtin.command: "{{ globus_gcs_binary }} collection update --allow-guest-collections {{ mapped_collection_details.id }}"

    - name: Get revised mapped collection metadata
      ansible.builtin.command: "{{ globus_gcs_binary }} collection show {{ mapped_collection_details.id }} --format json"
      changed_when: false
      register: _globus_cmd_output

    - name: Update mapped_collection_details fact
      ansible.builtin.set_fact:
        mapped_collection_details: "{{ _globus_cmd_output.stdout | from_json }}"

- name: "Import Globus Guest Collection tasks for mapped collection \"{{ mapped_collection_details.display_name }}\""
  when: storage_gateway_details.id is defined and globus_endpoint_status.subscription_id != None
  ansible.builtin.include_tasks: "guest_collections.yml"
