{
  "DATA_TYPE": "path_restrictions#1.0.0",
  "read": {{ storage_gateway_config.path_restrictions.read | to_json }},
  "read_write": {{ storage_gateway_config.path_restrictions.read_write | to_json }},
  "none": {{ storage_gateway_config.path_restrictions.none | to_json }}
}
